#cardtitle, #cardbody, #cardlink{
    background-color: #d9d9d9;
    color:black;
}

#cardtitle, #cardbody{
    text-align: center;
}

#cardlink{
    display: inline-block;
    text-decoration: underline;
}

#cardtitle{
    font-weight: bold;
}

#cardtitle:hover{
    text-decoration: underline;
}

.card {
    background-color: #d9d9d9;
}
.techlist {
    background-color: #d9d9d9;
}
.tech {
    background-color: #d9d9d9;
    font-style: italic;
    font-weight: bold;
}


  .card:hover {
    transform: scale(1.02);
    transition: 200ms transform ease-in-out;
  } 

#col{
    margin-top: 30px;
}

